@import '../../styles/variables.scss';

.links {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 20px 0;

  @media screen and (max-width: $mobile) {
    align-items: flex-start;
  }

  a {
    color: $color5;
    margin: 2px 0;
    text-decoration: none;
    width: 120px;

    @media screen and (max-width: $mobile) {
      text-align: left;
    }

    &:before {
      content: '+ '
    }

    &:hover {
      color: $color1;
      cursor: pointer;
    }
  }
}