@import '../../styles/variables.scss';

@keyframes blink {  
  0% { 
    opacity: 0;
  }
  
  50% { 
    opacity: 1;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  .damir-img {
    border: 5px solid $color1;
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }

  h1,
  h2 {
    font-family: $inconsolata-font-family;
    margin: 20px 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;

    @media screen and (max-width: $mobile) {
      font-size: 30px;
      text-align: left;
    }

    &::after {
      animation: blink 1s steps(1, end) infinite;
      content: '| ';
    }
  }

  h2 {
    font-size: 34px;

    @media screen and (max-width: $mobile) {
      font-size: 20px;
      text-align: left;
    }
  }
}