@import '../../styles/variables.scss';

@keyframes blink {  
  0% { 
    opacity: 0;
  }
  
  50% { 
    opacity: 1;
  }
}

header {
  .damir-img {
    border: 5px solid $color1;
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }

  h1,
  h2 {
    font-family: $inconsolata-font-family;
    font-weight: 600;
    margin: 20px 0;
  }

  h1 {
    font-size: 48px;

    &::before {
      animation: blink 1s steps(1, end) infinite;
      content: '> ';
    }
  }

  h2 {
    font-size: 34px;
  }
}