.footer {
  .now-playing {
    align-items: center;
    display: flex;
    margin: 10px 0;
  
    .album-cover img {
      border-radius: 50%;
      margin-right: 5px;
      width: 40px;
    }
  
    .artist,
    .song-name {
      font-weight: 600;
      margin: 0 5px;
    }
  }
}